{{ define "home-view" }}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      {{ template "head" }}
      <title>Home</title>
    </head>
    <body>
      <nav>
        <ul>
          <li>
            <a>Activities</a>
          </li>
        </ul>
        {{ template "activities-view" . }}
      </nav>
    </body>
  </html>
{{ end }}

{{ define "activities-view" }}
<div>
  <div
    class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col"
  >
    <div
      class="flex grow flex-col gap-y-5 overflow-y-auto border-r border-gray-200 bg-white px-6"
    >
      <div class="flex h-16 shrink-0 items-center">
        {{ template "logo-view" }}
      </div>
      <nav class="flex flex-1 flex-col">
        <ul role="list" class="flex flex-1 flex-col gap-y-7">
          <li>
            <ul role="list" class="-mx-2 space-y-1">
              <li>
                <a
                  href="#"
                  class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-indigo-600"
                >
                  Dashboard
                </a>
              </li>
              <li>
                <a
                  href="/users"
                  class="group flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-700 hover:bg-gray-50 hover:text-indigo-600"
                >
                  Activities
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <main class="py-10 lg:pl-72">
    <div class="px-4 sm:px-6 lg:px-8">
      <ul>
        {{ range . }}
          <div class="relative m-10 block rounded-lg border p-10 shadow-lg transition-colors hover:bg-pink-300">

            <li class="py-3 sm:py-4">
              <div class="flex items-center space-x-4">
                 <div class="flex-1 min-w-0">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                       {{ .Description }}
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                       {{ .Completed_at }}
                    </p>
                 </div>
                 <div class="inline-flex min-w-fit items-center text-base font-semibold text-gray-900">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="w-6 h-6">
                    <path strokeLinecap="round" strokeLinejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                  </svg>
                 </div>
              </div>
           </li>
          </div>
        {{ end }}
      </ul>
    </div>
  </main>
</div>
{{ end }}